<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808282823964-1bocu96sljs80cc2pdlifrgejq1q0411.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808282823964-1bocu96sljs80cc2pdlifrgejq1q0411</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>808282823964-khnjrlf3gfvlv93ncuo3365oq2dalfbq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC9eWlhu8gZCer-SaCdCRu68ZLyKESIOOI</string>
	<key>GCM_SENDER_ID</key>
	<string>808282823964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialSimpleApp</string>
	<key>PROJECT_ID</key>
	<string>social-app-7f848</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-7f848.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808282823964:ios:932f7f27e5ec379cc6aed9</string>
</dict>
</plist>